table{

width:100%;

border-collapse:collapse;

background:white;

border-radius:20px;

overflow:hidden;

}



th{

background:

#F1F5F9;

padding:16px;

text-align:left;

font-size:14px;

}



td{

padding:16px;

border-bottom:

1px solid #eee;

}



tr{

transition:.2s;

}



tr:hover{

background:

#F8FAFC;

}